.builder input{
    border: none;
    border-bottom: 1px solid var(--primary);
}

.builder div{
    margin-bottom: 1rem;
}

.subtitles {
    display: flex;
    justify-content: center;
    gap: 30%;
}

.builder input[name="name"]{
    font-size: 1.3em;
    margin-top: 0;
}

.builder h1{
    padding: 0;
    margin-bottom: 2rem;
}