.btn{
    padding: .5rem 1rem;
    width: fit-content;
    margin: 0 auto;
    font-family: 'itim', sans-serif;
    border-radius: 2rem;
    border: none;
    color: var(--color);
    background-color: var(--bg-color);
    border: 2px solid var(--bg-color);
    font-weight: 500;
    transition: all .3s ease-in;
    cursor: pointer;
}

.btn:hover{
    background-color: transparent;
    color: var(--bg-color);
}

@media screen and (min-width: 768px) {
    .btn{
        font-size: 1.2rem;
    }
}