.option {
    padding: .35rem .25rem .35rem .75rem;
    border-radius: .5rem;
    width: 100%;
    font-size: .85rem;
    background-color: rgba(139, 135, 255, .1);
    border: 1px solid var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .25rem;
}

.option span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--primary);
    font-weight: 500;
}

.option button {
    padding: 2px;
    height: fit-content;
    margin: 0;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
