.btn{
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color: black;
    border-color: black;
    border-width: 2;
    border-style: solid;
    border-radius: 10;
    width: 100%;
    padding: .5rem 1rem;
    margin: 1rem 0;
    font-size: 1.1rem;
}

.btn:hover{
    opacity: .8;
}

.home{
    color: var(--dark);
}

.search{
    background-color: var(--light);
    border-color: var(--light);    
    border-radius: 1rem;
    padding: .8rem 0;
    color: var(--dark);
}

.search:hover{
    background-color: transparent;
    color: var(--light);
}

.artisan{
    background-color: var(--primary);
    color: var(--light);
    border-color: var(--primary);
    border-radius: 1rem;
    padding: .8rem 0;
}

.artisan:hover{
    background-color: transparent;
    color: var(--primary);
}