.recovery {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recovery form>div {
    margin: 1rem 0;
}

.recovery form {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .recovery {
        flex-direction: row;
        gap: 15%;
    }

    .recovery form {
        background-color: var(--primary);
        color: var(--light);
        border-radius: 1rem;
    }
}