.profil {
    background-color: var(--light);
    padding: 1rem 10%;
    display: flex;
    min-height: auto;
    padding-right: 0;
}

.title {
    font-size: 3em;
    padding: 0;
    margin: 0 3rem;
}

.modify {
    width: 70%;
    border-right: 2px solid var(--primary);
    background-color: var(--secondary);
    padding: 2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.entrepriseList {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 2rem 1rem;
    background-color: var(--primary);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 80vh;
}

.entrepriseList>div {
    overflow: scroll;
    scrollbar-width: none;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
    padding: 1rem;
}

.entrepriseList>div::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.entrepriseList h2 {
    color: var(--light);
}

.entreprise-link {
    transition: transform .2s, box-shadow .2s;
}

.entreprise-link:hover {
    transform: translateY(-.5rem);
    box-shadow: 0 0 1rem var(--primary);
}

.card-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: .5rem;
    border-top: 1px solid #ccc;
}

.card-buttons a {
    margin: 0;
    width: 50%;
    border: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    height: 100%;
    transition: color .2s ease;
}

.card-buttons a:hover{
    color: var(--secondary);
    font-weight: 600;
} 

.deleteBtn{
    margin: 0 3rem;
    --bg-color: transparent;
    color: red;
    align-self: flex-end;
}

.deleteBtn:hover{
    background-color: red;
    box-shadow: 0 0 1rem red;
    color: white
}

.deleteAccount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem
}

.deleteAccount > div{
    display: flex;
    flex-direction: column;
}

.delete-btns{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.card{
    background-color: var(--light);
    padding: .5rem;
    border-radius: .3rem;
    margin: .5rem auto;
    overflow: hidden;
    width: 100%;
}

.card figure{
    padding: .3rem;
    padding-bottom: .8rem;
    border: 1px solid var(--primary);
    overflow: hidden;
    margin-bottom: .8rem;
    width: 100%;
    aspect-ratio: 16/9;
}

.card figure img{
    width: 100%;
}

.card-content{
    padding: .5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
