.colorInput {
    display: flex;
    align-items: center;
    gap: .75rem;
    width: fit-content;
    background-color: white;
    border: 1px solid rgba(40, 5, 70, .2);
    border-radius: .6rem;
    padding: .35rem .9rem .35rem .35rem;
}

.colorInput input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1/1;
    padding: 0 !important;
    box-shadow: none;
    background-color: transparent;
    caret-color: transparent;
    border: none;
    border-radius: .4rem;
    margin: 0;
    cursor: pointer;
}

.colorInput input::-webkit-color-swatch {
    border: none;
    border-radius: .4rem;
}

.colorInput input::-moz-color-swatch {
    border: none;
    border-radius: .4rem;
}

.colorInput label {
    padding: 0;
    margin: 0 !important;
    color: var(--primary);
    font-weight: 500;
}
