.cookie-btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
}

.cookie-btn svg{
    transition: all .3s;
}

.cookie-btn:hover svg{
    fill: brown;
    transform: scale(1.2);
}

.cookies-position {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cookie-container{
    display: flex;
    flex-direction: row;
    height: 70%;
}