.attach {
    background-color: var(--secondary);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attach section {
    padding: 3rem 10%;
}

.attach section h1 {
    font-family: 'Itim', sans-serif;
    font-size: 3.2rem;
}

.attach .subtitles {
    margin: 3rem 0;
}

.attach .subtitles hr {
    border-color: var(--dark);
}

.attach .subtitles p {
    margin: 1rem 0;
    font-size: 1.1rem;
}

.attach .subtitles .links {
    margin: 3rem auto;
}

@media screen and (min-width: 768px) {
    .attach {
        flex-direction: row;
        padding: 0 5%;
        height: fit-content;
    }

    .attach section {
        padding-left: 0;
        padding-bottom: 0;
    }

    .links {
        display: flex;
        gap: 2rem;
        padding: 0 2rem;
    }

    .attach section h1 {
        width: 50%;
        margin: 0;
        padding: 0;
        font-size: 2.5rem;
    }

    .attach .subtitles p {
        margin: .3rem;
    }

    .attach .subtitles {
        font-weight: 600;
    }

    .attach .subtitles hr {
        opacity: 0;
    }
}

.attach figure {
    align-self: end;
}