.attach{
    background-color: var(--secondary);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attach section{
    padding: 3rem 10%;
}

.attach section h1 {
    font-family: 'Itim';
    font-size: 3.2rem;
}

.attach .subtitles{
    margin: 3rem 0;
}
.attach .subtitles hr {
    border-color: var(--dark);
}

.attach .subtitles p{
    margin: 1rem 0;
    font-size: 1.1rem;
}

.attach .subtitles .links{
    margin: 3rem auto;
}