.form-group {
    width: 75%;
    display: flex;
    margin: 1rem auto;
    align-items: center;
    background-color: white;
    border: 1px solid var(--dark);
    border-radius: 2rem;
}

.form-group input{
    width: 95%;
    outline: 0;
    border: none;
    padding: .5rem 1rem;
}

.form-group svg {
    margin: .5rem;
}