.form-group {
    width: 80%;
    display: flex;
    margin: 1rem auto;
    align-items: center;
    background-color: white;
    border: 1px solid var(--dark);
    border-radius: 2rem;
}

.form-group input{
    width: 80%;
    outline: 0;
    border: none;
    padding: .5rem 1rem;
}

.form-group svg {
    margin: .5rem;
}

.search-entreprise {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.search-entreprise button{
    width: 15%;
}