.modale{
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modale-content{
    height: 50%;
    width: 50%;
    background-color: white;
    display: flex;
    padding: 2rem;
    padding-bottom: 0;
}

.modale-content h2, .modale-content h3{
    width: 100%;
}

.modale-content figure{
    height: 100%;
    aspect-ratio: .7;
    overflow: hidden;
}