.tableau h2{
    margin: 1.5rem 10px;
    font-family: 'Itim', sans-serif;
} 

.tableau tfoot td{
    font-weight: 600;
}

.tableau{
    width: 100%;
}

.tableau tfoot{
    background-color: var(--secondary);
}

.tableau table tr:nth-of-type(even){
    background-color: #dddcdc;
}
