.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary);
    width: 100%;
}

.form span{
    font-weight: 500;
}


.form>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 90%;
}

.form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin: 2rem;
    padding: 1rem;
}

.form form input {
    margin: 0 auto;
    width: 100%;
    padding: .5rem .5rem .3rem .5rem;
    background-color: var(--light);
    border: none;
    border-bottom: 2px solid var(--dark);
}

@media screen and (min-width: 768px) {
    .form {
        height: 100vh;
        width: 50%;
    }

    .form>div {
        width: 70%;
        background-color: var(--accent);
        border-radius: 2rem;
    }

    .form form input {
        font-size: 1.2rem;
    }
}