.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;
    transition: all .2s ease-in;
}

.card img{
    background-color: var(--light);
    width: 100%;
    aspect-ratio: 4/1;
    object-fit: cover;
    border-bottom: 2px solid var(--primary);
}

.description{
    background-color: var(--light);
    aspect-ratio: 3/1;
    border: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.description h5 {
    font-style: italic;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

a{
    text-decoration: none;
    color: var(--dark);
}

@media screen and (min-width: 768px) {

    .card{
        animation: fadeIn 1s;
    }

    .card:hover{
        box-shadow: 0 0 1.5rem var(--primary);
        transform: translateY(-1rem);
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(10px);
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}