.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: .3rem;
    transition: all .2s ease-in;
    background-color: var(--light);
    border: none;
    padding: 1rem;
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.card img{
    background-color: var(--light);
    width: 100%;
    aspect-ratio: 4/1;
    object-fit: cover;
    border-bottom: 2px solid var(--primary);
    margin-bottom: .5rem;
}

.description{
    background-color: var(--light);
    aspect-ratio: 3/1;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: background-color .2s ease;
}

.description h5 {
    font-style: italic;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

a{
    text-decoration: none;
    color: var(--dark);
}

@media screen and (min-width: 768px) {

    .card{
        animation: fadeIn 1s;
    }

    .card figure{
        padding: .3rem!important;
        border: 1px solid var(--primary);
        overflow: hidden;
        margin-bottom: .8rem;
    }

    .card figure img{
        margin-bottom: 0;
        height: 100%;
    }

    .card:hover{
        box-shadow: 0 0 1.5rem var(--primary);
        transform: translateY(-.5rem);
        background-color: var(--primary);
    }

    .card:hover .description{
        color: var(--light);
    }

    .description{
        background-color: transparent;
        color: var(--dark);
    }
}