.NotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1rem;
}

.NotFound h1 {
    font-size: 10rem;
    color: var(--primary)
}

.NotFound p {
    font-size: 1.5rem;
}

.NotFound a {
    font-size: 1.2rem;
}

.NotFound img{
    width: 20%;
}
