.grid {
    display: grid;
    gap: 2rem;
    margin: 1rem;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: 0 auto;
        padding: 2rem;
    }

    .no-content{
        grid-column: 2;
        font-weight: 600;
        color: var(--light);
    }
}