.forgot{
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    padding: 10%;
}

.forgot h1, .forgot h2, .forgot h3 {
    font-family: "Itim";
    margin-bottom: 1rem;
    text-align: center;
}

.forgot form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

.forgot form input{
    padding: .5rem;
    width: 80%;
    border-radius: 2rem;
    border: none;
}

@media screen and (min-width:768px) {
    .forgot form {
        flex-direction: row;
    }    
}