.builder{
    display: flex;
    width: 80%;
    margin: 1rem 10%;
    justify-content: space-between;
}

.builder > form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.builder input{
    margin-bottom: 0;
    padding: .5rem;
}

.builder select {
    border: none;
    background-color: white;
    padding: .5rem;
    outline: 0;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.builder label {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
}

.addField{
    background-color: transparent;
    font-size: 1rem;
    gap: .3rem;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0;
}