.input{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--primary);
}

.input button{
    margin: 0;
}

.mainPart{
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.mainPart label{
    font-size: .8rem;
}

.mainPart select {
    background-color: white!important;
    border-radius: 1px !important;
    border: none;
}

.params{
    display: flex;
    margin-bottom: 0!important;
    width: 80%;
    margin-left: 10%;
}

.preview {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.preview > div {
    justify-self: center;
}

.required {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.required > div {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.required input[type='radio']{
    opacity: 0;
    width: .1px;
    height: .1px;
}

.required label, .required input[type='radio'], .required > div {
    margin: 0;
    padding: .3rem .5rem;
    cursor: pointer;
    padding: .8rem;
}

.required input[type='radio']:checked + label {
    color: red;
    background-color: var(--primary);
    color: var(--light);
    font-weight: 600;
    border-radius: .4rem;
}

.options-holder{
    width: 80%;
    margin-left: 10%;
}

.options{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 0;
    gap: .5rem;
}

.checkArea{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 1rem;
    font-size: .7rem;
    margin: 1rem auto;
}

.checkArea > div {
    width: 45%;
    height: fit-content;
    display: flex;
}

.checkArea input[type="radio"], .checkArea input[type="checkbox"]{
    width: .1px;
    height: .1px;
}

.checkArea input[type="radio"] + label, .checkArea input[type="checkbox"] + label{
    padding: .8rem .4rem;
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    border: 1px solid var(--primary);
    transition: background .3s ease;
}

.checkArea input[type="radio"] + label:hover, .checkArea input[type="checkbox"] + label:hover{
    background-color: var(--secondary);
}

.checkArea input[type="radio"]:checked + label, .checkArea input[type="checkbox"]:checked + label{
    background-color: var(--primary);
    color: white;
}

.onglets{
    width: 100%;
    background-color: var(--light);
    display: flex;
}

.onglets button{
    width: 25%;
    border: 1px solid;
    font-family: itim;
    font-size: 1rem;
}

.onglets button:not(:last-of-type){
    background-color: transparent;
}