.footer {
    background: #1d1d1d;
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 1rem;
    gap: .5rem;
}

.contact-button {
    height: 2.5rem;
}

.contact-button span {
    overflow: hidden;
    opacity: 0;
    width: 0;
    font-size: 0;
    transition: all .3s ease-in-out;
}

.contact-button:hover span {
    opacity: 1;
    width: 200px;
    font-size: 1rem;
}

.contact-button:hover {
    background-color: var(--light)!important;
    color: var(--dark)!important;
}

