.howto {
    background: var(--accent);
}

.howto h3 {
    font-size: 1.8rem;
    padding:  0 3rem;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}

.action_index {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    aspect-ratio: 1/1;
    padding: 1rem;
    border-radius: 50%;
    margin: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.action p {
    font-size: 1.1rem;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .actions {
        display: flex;
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        margin: 0 auto;
    }

    .action {
        width: 30%;
    }

    .howto > div {
        display: flex;
    }

    .howto figure {
        width: 45%;
    }

    .howto figcaption {
            color: var(--primary);
            font-size: 1rem;
            font-weight: 600;
    }
}