.forms{
    margin-top: 2rem;
    width: 100%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
    justify-content: space-evenly;
}

.list *{
    transition: all .3s;
}

.list > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    width: 25%;
    border: .5rem solid var(--dark);
    color: var(--dark);
    aspect-ratio: 4/3;
}

.list a:hover{
    color: var(--primary);
    border-color: var(--primary);
    background-color: var(--secondary);
}

.list img{
    width: 30%;
}

.list span{
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 10px;
}

.list a:hover span svg{
    transform: translateX(1rem);
}