.admin {
    min-height: 100vh;
    display: flex;
}

.admin aside {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    background-color: var(--primary);
    padding: 3rem;
}

@media screen and (min-width:768px) {
    .admin aside {
        position: sticky;
        width: 20%;
        left: 0;
    }
}