.main{
    padding: 3rem 10%;
}

.main h1{
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--primary);
}

.main h1 span{
    font-family: 'itim';
    text-transform: uppercase;
}

.contact{
    position: fixed;
    right: 5%;
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-left: 2px solid var(--primary);
    padding: 1rem;
    width: fit-content;
}

.content{
    width: 80%;
    margin: 2rem 0;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 3rem;
    align-items: center;
}

.content h2 span{
    padding-right: 1rem;
    border-bottom: 2px solid var(--secondary);
}

.adress, .phone, .mail{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

.adress svg, .phone svg, .mail svg{
    transition: stroke .3s ease;
}

.adress:hover svg, .phone:hover svg, .mail:hover svg{
    stroke: var(--secondary);
}

.adress > div {
    display: flex;
    flex-direction: column;
}

.content h2 {
    margin-top: 2rem;
}

.content .description {
    margin: 1rem 0;
    width: 100%;
}

.content .description p{
    margin-bottom: 1rem;
}