@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #280546;
  --secondary: #8B87FF;
  --light: #f6f6f6;
  --dark: #031926;
  --accent: rgba(139, 135, 255, .7);

  --mobile: 768px;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

$weights: (
  'thin' 200,
  'bold' 800
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
  background-color: var(--light);
  min-height: 100vh;
  padding: 2rem auto;
}

h1{
  font-size: 2rem;
  font-family: 'Itim', 'Dangrek', sans-serif;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
}

p{
  margin: 0;
}

textarea{
  resize: vertical;
}

select {
  background-color: white;
}

.dangrek {
  font-family: "Dangrek", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.itim {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@each $size, $weight in $weights {
  .montserrat-#{$size} {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
  }
}

section {
  padding: 3rem;
}

.hidden-mobile {
  display: none;
}

button{
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hidden-mobile {
    display: block;
  }
}

@for $i from 0 to 10 {
  .p-#{$i}{
    padding: #{$i}rem
  }
}

@for $i from 0 to 100 {
  .w-#{$i}{
    width: #{$i}+'%';
  }
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.flex{
  display: flex;
}

.mx-auto{
  margin: 0 auto;
}

.pointer{
  cursor: pointer;
}

.Toastify{
  background-color: green;
  height: 0;
  width: 0;
  padding: 0;
}