.header {
    background-color: var(--primary);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    backdrop-filter: blur(1rem);
    transition: none;
    z-index: 10;
}

.scrolling{
    box-shadow:
    0 0 0 transparent,
    0 0 0 transparent,
    0 0 2rem var(--primary), 
    0 0 0 transparent
    ;
}

@media screen and (min-width: 768px) {
    .header{
        padding: 1rem 5%;
    }
}