.galerie {
    width: 45%;
}

.galerie figure {
    display: flex;
    aspect-ratio: 16/9;
}

.galerie figure button {
    background-color: rgba(0, 0, 0, .1);
    border: none;
    padding: 1rem 1rem;
    width: 4rem;
    transition: background .3s ease-in;
}

.galerie figure button:hover {
    background-color: rgba(0, 0, 0, .7);
}

.galerie figure button:hover svg {
    color: white;
}

.galerie img {
    width: calc(100% - 8rem);
    animation: fadeIn .3s;
    background-color: var(--light);
    border-radius: 1rem;
}

.galerie_list {
    display: flex;
    width: 99%;
    margin-left: 4rem;
}

.zoom_modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: fadeIn .5s ease;
}

.zoom_modal img {
    background-color: white;
    margin: 0 auto;
}

.carroussel {
    aspect-ratio: 4/3;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease;
}

.carroussel:hover{
    opacity: 0.8;
}

.carroussel-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.carroussel img {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    transform: translateX(calc(-100% * var(--carroussel-index)));
    transition: .3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}