.galerie {
    width: 45%;
}

.galerie figure {
    display: flex;
    width: 100%;
}

.galerie figure button {
    background-color: rgba(0, 0, 0, .1);
    border: none;
    padding: 1rem 1rem;
    width: 4rem;
    transition: background .3s ease-in;
}

.galerie figure button:hover {
    background-color: rgba(0, 0, 0, .7);
}

.galerie figure button:hover svg {
    color: white;
}

.galerie img {
    width: calc(100% - 8rem);
    animation: fadeIn .3s;
}

.galerie_list {
    background-color: green;
    display: flex;
    width: 99%;
    height: 300px;
    margin-left: 4rem;
}

.zoom_modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: fadeIn .5s ease;
}

.zoom_modal img {
    width: 50%;
    margin: 0 auto;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}