.formList{

}

.title {
    font-size: 2em;
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
}

.no-content, .formList{
    width: 75%;
    text-align: center;
    margin: 1rem auto;
}

.no-content{
    font-weight: 500;
}

.formList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.form {
    padding: 1rem;
    border: 2px solid var(--primary);
    border-radius: .5rem;
}

.formList h2{
    font-size: 1rem;
}

.form-buttons{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.form-buttons a, .form-buttons button{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5px;
    border: none;
    font-weight: 400;
    margin: 0;
    padding: .5rem;
    justify-content: center;
    transition: background .2s ease;
    border-radius: 0;
}

.form-buttons a:hover, .form-buttons button:hover{
    font-weight: 600;
}

.form-buttons a:hover{
    background-color: var(--secondary);
}

.form-buttons button:hover{
    background-color: red;
    color: white;
}

.form-buttons a{
    border-right: 1px solid #ccc;
}