.title {
    font-size: 2em;
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
}

.no-content{
    width: 75%;
    text-align: center;
    margin: 1rem auto;
}

.no-content{
    font-weight: 500;
}

.formulaires{
    padding: 2rem 10%;
    min-height: 100vh;
}

.formList{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin: 2rem 0;
}

.form-display > div {
    width: 70%;
}

.form {
    padding: 1rem;
    border: 2px solid var(--primary);
    border-radius: .5rem;
    height: fit-content;
    width: 100%;
    display: flex;
    aspect-ratio: 4/3;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formList h2{
    font-size: 1rem;
    text-align: center;
}

.form-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 90%;
    gap: .5rem;
}

.form-buttons a{
    --bg-color: var(--secondary);
    --color: var(--dark);
}

.form-buttons a, .form-buttons button{
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    font-weight: 400;
    margin: 0;
    padding: .5rem;
    justify-content: center;
    transition: background-color .2s ease;
    border-radius: .3rem;
}

.form-buttons a:hover, .form-buttons button:hover{
    font-weight: 600;
}

.form-buttons a, .form-buttons button{
    border-width: 1px;
    border-style: solid;
    border-color: var(--bg-color);
    width: 100%;
}

.form-buttons a:hover{
    background-color: var(--secondary);
}

.form-buttons button:hover{
    background-color: red;
    color: white;
}

.form-display{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.form-display figure{
    width: 30%;
}

.form-display img{
    width: 100%;
}
.goBack {
    display: flex;
    margin: 0;
    gap: 1rem;
    align-items: center;
}

.goBack:hover{
    color: var(--secondary);
}

.goBack svg{
    transition: transform .3s ease;
}

.goBack:hover svg{
    transform: translateX(-1rem);
}

.newForm{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    --bg-color: var(--secondary);
    --color: var(--primary);
    margin: 0 auto;
    height: fit-content;
    aspect-ratio: 1/1;
    margin: 0 auto;
    border-radius: .5rem;
    border: .5rem solid var(--primary);
    transition: border-color .3s ease, border-width .3s ease, background-color .3s ease;
}

.newForm:hover{
    background-color: var(--secondary);
    border-color: var(--primary);
    border-width: .3rem;
}

.newForm:hover svg{
    transform: scale(1.2);
}

.newForm svg{
    width: 20%;
    aspect-ratio: 1;
    height: auto;
    transition: transform .3s ease;
    min-width: 80px;
}