.input {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: .3rem;
    overflow: auto;
}

.input label{
    font-size: 1rem;
    cursor: pointer;
}

.input input{
    margin: 1rem auto;
}

.input input {
    width: 100%;
}

.input_label{
    font-size: 1.1rem;
    cursor: pointer;
}

.form textarea {
    resize: vertical;
    width: 100%;
}

.form input, .form textarea, .form select {
    padding: .5rem 1rem;
}

.select{
    display: flex;
    width: 100%;
}

.checkArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    font-size: .7rem;
    margin: 1rem auto;
}

.checkArea > div {
    width: 100%;
    height: fit-content;
    display: flex;
}

.checkArea input[type="radio"], .checkArea input[type="checkbox"]{
    width: .1px;
    height: .1px;
}

.checkArea input[type="radio"] + label, .checkArea input[type="checkbox"] + label{
    padding: .8rem .4rem;
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    border: 1px solid var(--primary);
    transition: background .3s ease;
}

.checkArea input[type="radio"] + label:hover, .checkArea input[type="checkbox"] + label:hover{
    background-color: var(--secondary);
}

.checkArea input[type="radio"]:checked + label, .checkArea input[type="checkbox"]:checked + label{
    background-color: var(--primary);
    color: white;
}

.checkbox, .radio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
}