.input {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: .3rem;
}

.form textarea {
    resize: vertical;
}

.form input, .form textarea, .form select {
    padding: .5rem 1rem;
}

.select{
    display: flex;
    width: 100%;
    background-color: green;
}