.input{
    padding: .5rem 1rem;
    margin-top: .5rem;
    border-radius: 1rem;
    border: none;
}

.title{
    margin-bottom: 2.5rem;
    text-align: center;
}

.form{
    min-width: 700px;
}

.form label{
    font-weight: 600;
}