.card-header{
    margin-bottom: 1rem;
    width: 90%;
}

.card table{
    width: 100%;
    border: 1px solid var(--primary);
}

.card-header-user{
    font-size: 1rem;
}

.card-header-date{
    font-weight: 500;
}

.card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.card table tr td:first-child{
    width: 30%;
}

.card-button{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0;
    font-size: .8rem;
}

.card-footer{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}
