.navbar {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 1rem;
    height: 45vh;
}

.navbar a {
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 5%;
    width: 80%;
    margin-left: 10%;
    border-bottom: 2px solid var(--primary);
    transition: color .2s ease-in;
}

.navbar a:hover {
    background-color: var(--light);
    color: var(--secondary);
}

@media screen and (min-width: 768px){
    .navbar{
        height: fit-content;
        margin-top: 0;
        margin-right: 10%;
        flex-direction: row;
        align-items: center;
        width: 80%;
    }

    .navbar a{
        text-align: center;
        color: var(--light);
        font-weight: 500;
        width: fit-content;
        margin-left: 0;
        width: 30%;
        padding: 1rem 0;
    }
}