.rechercher{
    background-color: var(--secondary);
}

.rechercher h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding: 2rem;
}