.filter {
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem 1.5rem;
}

.filter input[name="name"] {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.filter input,
.filter select {
    border: none;
    background-color: white;
    border-bottom: 1px solid var(--primary);
    padding: .5rem;
    outline: 0;
    padding-top: 1rem;
    transition: all .2s ease-in;
}

.filter input:focus {
    border-color: var(--secondary);
}

.filter label {
    font-size: .8em;
    font-weight: 500;
    margin-bottom: .5rem;
}

.filter select {
    border-radius: 0;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 0;
    cursor: pointer;
    border-bottom: 1px solid var(--dark);
}

.filter>div {
    display: flex;
    margin: 2rem;
    justify-content: space-between;
    width: 75%;
    min-width: 600px;
    align-items: end;
}

.input_container {
    display: flex;
    flex-direction: column;
}

.filter>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    min-width: 400px;
}