.filter{
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
}

.filter input[name="name"]{
    width: 75%;
    margin: 0 auto;
}

.filter input, .filter select {
    border: none;
    background-color: white;
    border-bottom: 1px solid var(--primary);
    padding: .5rem;
    outline: 0;
    padding-top: 1rem;
    transition: all .2s ease-in;
}

.filter input:focus{
    border-bottom-width: 3px;
    border-color: var(--secondary);
}

.filter label{
    font-size: .8em;
    font-weight: 500;
    margin-bottom: .5rem;
}

.filter select{
    border-radius: .5rem;
    border: 1px solid #9d9d9d;
}

.filter input::placeholder{
    color: var(--primary);
}

.filter > div {
    display: flex;
    margin: 2rem;
    justify-content: space-evenly;
    width: 100%;
    align-items: end;
}

.input_container{
    display: flex;
    flex-direction: column;
}