services:
  db:
    container_name: api-db
    image: postgres:latest
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./postgres_datas:/var/lib/postgresql
    networks:
      - connectDB

  backend:
    container_name: api-backend
    restart: always
    build: .
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy
    networks:
      - connectDB

  server:
    container_name: nginx 
    image: nginx:latest
    ports: 
    - "80:80"
    depends_on: 
    - backend
    volumes:
      - ./conf/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: always
    networks:
      - connectDB

volumes:
  postgres_datas:

networks:
  connectDB:
    driver: bridge